body {
    background: url(../images/keyboard_under_construction.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    min-height: 50rem;
}

h1 {
    color: #315481;
}
