/* https://scotch.io/tutorials/how-to-change-a-css-background-images-opacity */
/*body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background: url(../images/keyboard_under_construction.jpeg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}*/

.page {
    min-height: 50rem;
}

h1 {
    color: #315481;
}

p,a {
    font-size: 2rem;
}

.hover-border:hover {
    border: 2px dashed black;
}
